<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HotScenicInfo</key>
	<array>
		<array>
			<string>瀑布</string>
			<string>彩虹伴君行，人在佛光中</string>
			<string>IMG_0001</string>
			<string>彩虹伴君行人在佛光中当日光照射到瀑布上的时候，便会出现奇异的彩虹。古时候，由于人们对自然现象缺乏科学的认识能力，常常把这种现象称作是佛光普照。在坐禅谷，这种现象因为其地处佛教圣地香严寺而让人感觉着比其他地方的彩虹更为神奇。 
   坐禅谷里有一处宽110米、高15米的瀑布群，瀑水从天然形成的水锈石中喷出，上午从下方看，下午从上方看，都可以见到彩虹。这就是坐禅谷里著名的“佛光瀑”。游客们已经发现，人从这里经过的时候，彩虹与人一同行走，好像人时时刻刻都笼罩在佛光之中。有时一道彩虹，有时两道甚至更多。传说很早以前，这里谷深幽暗，怪兽妖魔横行，佛祖释迦牟尼远在异乡印度，闻知此事，派达摩禅师送镇妖佛光宝珠到此，将宝珠化作佛光，常留于此。佛光瀑便由此而来。 
   现代人虽然不再迷信于此，但对这种现象还是充满了好奇之感，纷纷前来观赏，体味一番佛光普照的感觉。</string>
		</array>
		<array>
			<string>龙王泉</string>
			<string>中原地区最大的涌泉</string>
			<string>IMG_0001</string>
			<string>乘游轮过丹江，人人都要为清澈的丹江水喝彩，但到了坐禅谷，人们不仅要为这里的水喝彩，更会为这里的水称奇。坐禅谷与香严寺紧邻，地势也比香严寺要高，但香严寺却连一口井都打不出来；而坐禅谷虽地处高山之上，却泉水丰富。坐禅谷入口处有一个涌泉，叫龙王泉，天越旱，涌水量越大。专家考证，此泉为中原地区最大的涌泉，且含有锌、铁等20余种人体需要的微量元素，饮之可健身，洗之可去痒，美白肌肤。

    这其中的科学之谜，尚有待专家们作出进一步的科学考证。不过，这里有一个神奇的故事，似乎也能诠释这种奇怪的地下水“贫富不均”现象。相传，远古时代，玉帝派龙王在人间布水，龙王就指派龟王驮水送往香严寺，并让豹王押运。二王运水十分辛苦，眼看快到香严寺了，就在坐禅谷打起了瞌睡。将所驮之水尽数倾覆，倒在地上，形成了龙王泉。香严寺处土地爷状告龙王送水不到位，龙王大怒，将龟王贬为石龟，把豹王贬作石豹，压在石龟身上永远看守这方涌泉。</string>
		</array>
		<array>
			<string>面壁崖</string>
			<string>东边日出西边雨、面壁崖前真神奇</string>
			<string>IMG_0001</string>
			<string>面壁崖可谓是坐禅谷奇景中的奇景。单是在这一座山上，就有五六处景观令人击掌叫绝。我们南阳并不缺山，但见了这座面壁崖，即便是对大山司空见惯的人，也会忍不住叹出声来！

    面壁崖本是香严寺里违犯寺规和尚面壁思过之处。此崖貌若雄鹰。传说古时这里住着一对恩爱小夫妻，一天，小伙上山打柴，一个黑熊精趁机将其美貌的妻子掠入古山寨，欲留作压寨夫人。小伙回来后前去讨要妻子，却被打得皮开肉绽，昏死在山中。一只神鹰从此掠过，打抱不平，与熊精展开搏斗，直打得天昏地暗，地动山摇，打死了熊精，救出小伙之妻。神鹰耗尽力气，累死后化作展翅欲飞的巨石。故此，面壁崖看上去酷似一只巨鹰。

    面壁崖山体全都是水锈石山体，泉水或从岩缝间渗出，或从崖尖上喷泻而出，或滴滴答答，或如暴雨倾盆而下，东边日出西边雨，面壁崖前景观，游客来此，无不连连称奇！</string>
		</array>
		<array>
			<string>千佛涯</string>
			<string>中原地区最大的水锈石群</string>
			<string>IMG_0001</string>
			<string>千佛崖是中原地区最大的水锈石群。上有万兽造像，崖下水流淌淌，天然雅致，水岸光影摇曳，回照崖间，使人迷魂飘飘，羡然追悔。传说自从释迦牟尼佛像塑成之后，鸟兽鱼虫非常仰慕，纷纷来此投佛，释迦牟尼佛广施恩惠，将他们都吸附于此崖上为佛，故名为千佛崖。</string>
		</array>
		<array>
			<string>通天洞</string>
			<string>天然奇窟通九天 一生转运通天洞</string>
			<string>IMG_0001</string>
			<string>从坐禅谷底通往青龙山的半山腰处，有三个天然石洞，左右两洞皆为死洞，右洞常有泉水渗出，夏天可成小溪，中间一洞像一口竖井，直通山顶，当地百姓说，只有野羊才可以由此出没。

    相传唐朝太子颖王李炎害怕其弟光王李忱篡位，多次谋杀都没有得逞，太后派太监秘密把李忱潜藏在香严寺削发为僧。李炎当皇帝后，又两次派兵到香严寺追杀李忱，香严寺智娴禅师两次扶李忱翻墙而出，逃入坐禅谷，从通天洞得以逃生。李炎死后，李忱回朝继位，这就是宣宗皇帝。每每念及此洞，他都甚为感慨：“此洞乃通天洞也。”感念此洞救了他的命，成就了他的天子大业。

    通天洞常有野蛇和大如野兔的硕鼠出没，道路奇险，到此洞探险猎奇，人们常常需要打着电筒、抓住铁链才能攀爬到山顶。洞中还有几处须转一下身子才能通过，游人便风趣地称此地为转运台，并留下两句诗：“天然奇窟通九天，一生转运通天洞。</string>
		</array>
		<array>
			<string>楚长城</string>
			<string>青龙山上古山寨 风雨千秋楚长城</string>
			<string>IMG_0001</string>
			<string>青龙山上有一座古山寨，形状类似南召境内的楚长城，不同的是，这座古山寨基本上是一座完美的山城。因此，到坐禅谷旅游，游客基本上都成了考古学家，对淅川的楚汉文化、坐禅谷文化，人人都能有板有眼地给大家讲一通，让没有去过坐禅谷的人直啧舌头。

    山寨分东西南北四个山门，每门都有“重兵把守”，山门处都有石头垒成的兵营遗迹。寨墙均沿悬崖峭壁依山脊走势而建。最宽处达5米，最高处达12米，寨墙设计科学，留有瞭望台、射箭孔、放石垛、滚木台、屯兵营，青龙山的“U”形山谷盆地中有大兵营、大水井、屯粮房、擂鼓台，进可攻、退可守，整个防御体系十分完美。

    很多历史遗迹都显示，这里曾是一个有重兵把守的城池。坐禅谷地处淅川县仓房镇境内，与湖北省交界并连为一体。淅川位于邓州以西，古时曾为楚都。《史记》中所记载的“在邓州以西120里的深山密林中建郢城”即为此城。据传说，孙膑受刑之后，潜于此山之中的孙膑洞内，在古山寨上习演兵法，完成了辉煌的军事名著《孙膑兵法》。</string>
		</array>
		<array>
			<string>聚龙湖</string>
			<string>石壁陡峭，水锈石雄奇壮观</string>
			<string>IMG_0001</string>
			<string>到过坐禅谷的人，无不为这里的奇山秀水而陶醉。但坐禅谷最为诱人之处，还在于自然奇观之中所蕴含的科学之谜。来此山中，既可参佛悟道，陶冶情操，又可探险猎奇，探访自然奇观与科学之谜。

    此言不虚。坐禅谷里虽然山陡岩峭，但在岩石之间开辟的道路却极富人性，尽可能地延伸平台而减少台阶，所以人们走在山间却依然如履平地。这样，你很快就可以来到坐禅谷的第三大奇观：聚龙湖。聚龙湖水蓝如天，相传，因此地风水极佳，龙王也看中了这个地方，曾召集众龙云集此地，召开一年一度的人间布水工作会议。传说子虚乌有，但这聚龙湖的确有称奇之处：聚龙湖的大坝有十余米高，坝体全是用糯米汤和白黏土掺和夯砸之后，将干碴石粘接在一起，千百年来，牢不可破。实乃中华建筑文明的一大奇观！聚龙湖因众“龙王”曾在此聚会而得名。据说，有幸运的游客站在坝上，曾隐约看到湖中有条“龙”在游动。</string>
		</array>
		<array>
			<string>绝壁飞龙</string>
			<string>绝壁飞龙  天书奇观</string>
			<string>IMG_0001</string>
			<string>站在聚龙湖上回头望，一弯青山耸立在碧水清流之上。山高百米开外，满山青翠之间，有一块裸露的悬崖绝壁，高约15米，长约60米，整体形状看上去极像一条腾空飞行的巨龙。有不少书画爱好者来此写生，将这块裸露的岩石比做是绝壁飞龙。若是到了秋季，这一景观才真正像一幅写意的飞龙图腾。这一弯青山上生长的全是一种生命力极强的叫做黄芦柴的树种，到了秋季，漫山红叶之间，一条飞龙凌空飞舞，当是又一幅天然国画。

   事实上，说这坐禅谷奇异，绝非空穴来风。在这一处绝壁飞龙景观的对面，树林之间有一块10余平方米大小的裸岩，上面满是不规则的“×”形符号，全似刀刻一般，有的符号由一条线串连在一起，有的符号略有变异，但整体形状却十分相似。有专家认为，这是远古时候人们留下的文字图腾，也有传说故事，把这些符号传作是飞龙在此小憩时留下的足迹。天书壁由此得名。</string>
		</array>
	</array>
	<key>ScenicName</key>
	<array>
		<string>突兀森郁的大峡谷</string>
		<string>群山环绕 绿水相伴</string>
		<string>不进通天洞，枉到坐禅谷</string>
		<string>感受富养空气，放松身心</string>
		<string>坐禅谷的悠悠岁月</string>
		<string>夏日的清爽</string>
		<string>交通导航</string>
		<string>门票攻略</string>
		<string>沿途的风景</string>
	</array>
</dict>
</plist>
