<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HotScenicInfo</key>
	<array>
		<array>
			<string>瀑布</string>
			<string>长、奇、灵‘秀</string>
			<string>IMG_0001</string>
			<string>瀑布简介</string>
		</array>
		<array>
			<string>涌泉</string>
			<string>大小各异，水味苦、消暑</string>
			<string>IMG_0001</string>
			<string>涌泉石简介</string>
		</array>
		<array>
			<string>天池</string>
			<string>湖水清可见底，鱼虾群游</string>
			<string>IMG_0001</string>
			<string>天池简介</string>
		</array>
		<array>
			<string>通天洞</string>
			<string>天然奇窟通九天，一生转运通天洞</string>
			<string>IMG_0001</string>
			<string>通天洞介绍</string>
		</array>
		<array>
			<string>龙王泉</string>
			<string>天越旱水越大，富含微量元素</string>
			<string>IMG_0001</string>
			<string>龙王泉简介</string>
		</array>
		<array>
			<string>楚长城</string>
			<string>青龙山上古山寨 风雨千秋楚长城</string>
			<string>IMG_0001</string>
			<string>楚长城简介</string>
		</array>
		<array>
			<string>绝壁飞涯</string>
			<string>石壁陡峭，水锈石雄奇壮观</string>
			<string>IMG_0001</string>
			<string>绝壁飞涯简介</string>
		</array>
	</array>
	<key>ScenicName</key>
	<array>
		<string>突兀森郁的大峡谷</string>
		<string>群山环绕 绿水相伴</string>
		<string>不进通天洞，枉到坐禅谷</string>
		<string>感受富养空气，放松身心</string>
		<string>坐禅谷的悠悠岁月</string>
		<string>夏日的清爽</string>
		<string>交通导航</string>
		<string>门票攻略</string>
		<string>沿途的风景</string>
	</array>
</dict>
</plist>
